@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
  text-align: center;
  background: #ECDCB0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.hidden {
  display: none;
}

.nav-item {
  display: inline;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
}

#navbar-logo {
  padding-left: 10px;
}

.nav-item > a, a:focus {
  text-decoration: none;
  color: black;
}

.nav-item > a:hover {
  text-decoration: none;
  color: black;
  background-color: #FFCAB1;
}

.container-navbar {
  background-color: #968E85;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 25px;
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.topic-header{
  width: 100%;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  background-color: #ECDCB0;
  text-decoration: underline;
}

.text-blurbs{
  width: 60%;
  align-items: center;
  margin: 0 auto;
  padding-top: 5px;
}

.text-blurbs-about{
  @extend .text-blurbs;
}

.text-blurbs-content{
text-align: left;
}

@media (max-width: 500px) {
  .text-blurbs-content {
    text-align: center;
  }
}

.container-services {
  font-size: 25px;
  padding-top: 5px;
  text-align: center;
}

.container-services > ul {
  text-align: left;
  display: inline-block;
  margin-left: 20%;
}

@media (max-width: 500px) {
  .container-services > ul {
    margin: 0 auto;
  }
}

.container-tools{
 top: 50%;
 left: 0;
 width: 100%;
 text-align: center;
 position: absolute;
 font-size: 50px;
 color: red;
}

.tools-link{
  font-size: 25px;
}

.container-links{
  padding-top: 25px;
  text-align: center;
  font-size: 18px;
}

.container-links > ul{
  list-style-type: "\1F44D";
  padding: 0;
  text-align: left;
  display: inline-block;
  margin-left: 40%;
  margin-right: 10%;
  text-indent: 0.5%;
}

@media (max-width: 500px) {
  .container-links > ul {
    margin-left: 20%;
    margin-right: 5%;
    text-indent: 0.5%;
  }
}

.container-links li {
  margin-bottom: 20px;
}

#container-contact{
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

#container-contact-info{
font-size: 25px;
background-color: #8CC084;
border-radius: 70%;
border-width: 5px;
border-color: black;
border-style: groove;
padding: 20px;
margin-bottom: 100px;
}

@media (min-width: 721px) and (max-width: 1000px) {
  #container-contact-info {
    font-size: 18px;
    border-width: 2px;
    border-radius: 0%;
  }
}

@media (min-width: 501px) and (max-width: 720px) {
  #container-contact-info {
    font-size: 12px;
    border-width: 1.5px;
    border-radius: 0%;
  }
}

@media (max-width: 500px) {
  #container-contact-info {
    font-size: 10px;
    background-color: #ECDCB0;
    border-radius: 0;
    border-width: 0;
    border-color: none;
    border-style: none;
    padding: 0;
  }
}

#contact-info-title{
  font-weight: bold;
}

@media (max-width: 720px) {
  #contact-info-title {
    font-size: 15px;
  }
}

#container-submit{
padding-top: 15px;
padding-bottom: 15px;
background-color:#8CC084;
border-style: solid;
}

.container-recaptcha{
text-align: center;
display: inline-block;
}

@media (max-width: 1000px) {
  .container-recaptcha{
    flex-shrink: 5;
  }
}

#contact-submit-btn{
background-color: #C1D7AE;
color: black;
border-color: black;
border-radius: 5%;
border-width: 3px;
}

#contact-message-textarea{
  width: 70%;
  word-wrap: break-word;
}

#contact-submit-btn:hover{
  background-color: #FFCAB1;
}

#container-after-submit{
color: black;
text-align: center;
overflow-wrap: break-word;
font-size: 25px;
}

@media (max-width: 720px) {
  #container-after-submit {
    font-size: 15px;
  }
}

#contact-after-submit-error{
    top: 50%;
    left: 25%;
    right: 25%;
    width: 50%;
    text-align: center;
    overflow-wrap: break-word;
    position: absolute;
    font-size: 25px;
    color: red;
}

.footer-container{
  bottom: 0;
  padding-top: 7.5px;
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #968E85;
}

@media (max-width: 550px) {
  .footer-container {
    font-size: 10px;
  }
}


// color scheme
// Apricot: #FFCAB1
// Dutch White: #ECDCB0
// Tea Green: #C1D7AE
// Dark Sea Green: #8CC084
// Middle Grey: #968E85

