@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
  text-align: center;
  background: #8D9EC0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 20px;
}

.navbar-links {
  display: inline;
  padding-right: 40px;
  padding-left: 40px;
  text-decoration: none;
}

#navbar-logo {
  padding-right: 250px;
  display: inline;
}

.navbar-links > a, a:hover, a:focus {
  text-decoration: none;
  color: black;
}

.container-navbar {
  width: 100%;
  background-color: #AAA9AD;
  padding-top: 25px;
  padding-bottom: 5px;
  padding-right: 50px;
  font-size: 25px;
  color: black;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.topic-header{
  width: 100%;
  background: white;
  padding-bottom: 2.5px;
  padding-top: 2.5px;
  background-color: #CC3B39;
}

.text-blurbs{
  width: 60%;
  align-items: center;
  margin: 0 auto;
  padding-top: 5px;
}

.text-blurbs-content{
text-align: left;
}

.container-services {
  font-size: 25px;
  padding-top: 5px;
  text-align: center;
}

.container-services > ul {
  text-align: left;
  display: inline-block;
  margin-left: 20%;
}

.container-tools{
 top: 50%;
 left: 0;
 width: 100%;
 text-align: center;
 position: absolute;
 font-size: 50px;
 color: red;
}

.tools-link{
  font-size: 25px;
}

.container-links{
  padding-top: 50px;
  text-align: center;
}

.container-links > ul{
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: inline-block;
  margin-left: 30%;
}

.container-links li {
  margin-bottom: 20px;
}

#container-contact{
  width: 100%;
  margin: 0 auto;
  padding-top: 10px;
}

#container-contact-info{
font-size: 25px;
background-color: lightblue;
border-radius: 70%;
border-width: 5px;
border-color: black;
border-style: groove;
padding: 20px;
margin-bottom: 100px;
}

#container-submit{
padding-top: 15px;
padding-bottom: 15px;
background-color:#AAA9AD;
border-style: solid;
}

.container-recaptcha{
text-align: center;
display: inline-block;
}

#contact-submit-btn{
background-color: white;
color: black;
border-color: black;
border-radius: 5%;
border-width: 3px;
}

#contact-message-textarea{
  width: 60%;
  word-wrap: break-word;
}

#contact-submit-btn:hover{
  background-color: #CC3B39;
}

.footer-container{
  bottom: 0;
  padding-top: 7.5px;
  position: fixed;
  width: 100%;
  height: 40px;
  text-align: center;
  background-color: #AAA9AD;
}




